<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="${basedir}\nlog\internallogs\internallog.txt">
  <targets>
    <target name="logfile" xsi:type="File"
            fileName="${basedir}/nlog/logs/${shortdate}_logfile.txt"
            layout="----------------------------------------------------------------------------------------------------------------------------------------${newline}${level:uppercase=true} ${message}" />

    <target xsi:type="file" name="filetarget" filename="${basedir}/nlog/ExceptionLogs/${shortdate}_logfile.txt"
            layout="----------------------------------------------------------------------------------------------------------------------------------------${newline}${level:uppercase=true} ${message}" />
    <target xsi:type="file" name="infotarget" filename="${basedir}/nlog/RequestLogs/${shortdate}_infofile.txt"
            layout="----------------------------------------------------------------------------------------------------------------------------------------${newline}${level:uppercase=true} ${message}" />
  </targets>
  <rules>
    <logger name="*" maxlevel="info"  writeto="infotarget" />
    <logger name="*" minlevel="error" writeto="filetarget" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>